body {

    max-width: 90%;
    margin: auto;
}


pre {
    background-color: #eee;
}



.author {
    text-align: right;
}

table {
    border-collapse: collapse;
    margin: auto;
}

thead tr {
    border-bottom: 2px solid gray;
}

th,
td {
    padding: 0px 10px;
    text-align: center;
    font-size: small;
}

.fig , .table{
    text-align: center;
}

p {
    text-indent: 1em;
}

header,
footer {
    position: fixed;
    padding: 5px;
    width: 100%;
    height: 1.5em;
    background-color: white;
    font-size: small;

}

header {
    top: 0px;
    border-bottom: 1px solid gray;

}

footer {
    bottom: 0px;
    border-top: 1px solid gray;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    margin-top: 1em;
    font-family: sans-serif;

}

h1 {
    text-align: center;
    font-size: 2em;
}

h2 {
    margin-left: 0em;
    font-size: 1.5em;
    border-bottom: solid;
}

h3 {
    margin-left: 1em;
    font-size: 1.2em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

caption, .caption {
    font-weight: bold;
    text-align: center;
}

strong {
    color: red;
    font-size: x-large;
    font-style: italic;
}


.twitter-tweet {
    //float: left;
    background-color: white;
    max-width: 400px!important;
    //display: table-cell;
    margin-top: 0px;
}
.twitter {
    display: flex;
    //display: table;
    //max-height: 400px;
}
.svgraph {
    //min-width: 200px;
    //min-height: 200px;
    //max-height: 50%;
    //max-width: 50%;
    
}
.cell {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    
}
.sv td{
    
    font-size: medium;
    text-align: left;
}
.sv {
    //float:left;
}